<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Welcome to Book Reviews</title>
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'login_reg/css/foundation.css' %}">
	</head>
	<body>
		<div class="row">
			{% if messages %}
				{% for message in messages %}
					<p class="small-12 large-12 column">{{message}}</p>
				{% endfor %}
			{% endif %}
		</div>
		<div class="row">
			<div class="small-6 large-centered columns">
				<h1>Social Trips</h1>
			</div>
		</div>
		<div class="expand row">
			<div class="small-6 large-6 column">
				<h2>Registration</h2>
				<form class="registration" action="{% url 'login_reg:process' %}" method="post">
					{% csrf_token %}
					<label for="name">
						Name:
						<input type="text" name="name" placeholder="Johnny Appleseed">
					</label>
					<label for="alias">
						Username:
						<input type="text" name="alias" placeholder="johnny1914">
					</label>
					<label for="email">
						Email:
						<input type="text" name="email" placeholder="jappleseed@email.com">
					</label>
					<label for="password">
						Password:
						<input type="password" name="password">
					</label>
					<label for="pwConfirm">
						<p>*Password should be at least 8 characters</p>
						Confirm PW:
						<input type="password" name="pwConfirm">
					</label>
					<input type="submit" name="submit" value="Register">
				</form>
			</div>
			<div class="small-6 large-6 column">
				<div class="login">
					<h2>Login</h2>
					<form class="login" action="{% url 'login_reg:process' %}" method="post">
						{% csrf_token %}
						<label for="email">
							Email:
							<input type="text" name="email" placeholder="jappleseed@email.com">
						</label>
						<label for="password">
							Password:
							<input type="password" name="password">
						</label>
						<input type="submit" name="submit" value="Login">
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
